@page "/"
@inject TusClient TusClient
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>TusSupport : @TusSupport</h1>
<h1>UrlStoreSupport : @UrlStoreSupport</h1>

@code
{
    private string TusSupport = "false";
    private string UrlStoreSupport = "false";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var tusSupport = await TusClient.IsSupported();
            var storeSupport = await TusClient.CanStoreUrls();
            TusSupport = tusSupport.ToString();
            UrlStoreSupport = storeSupport.ToString();
            StateHasChanged();
        }
    }

    public async ValueTask DisposeAsync()
    {
        await TusClient.DisposeAsync();
    }
}
