@page "/ResumeFromPreviousUpload"
@inject TusClient TusClient
@using System.Text.Json
@using System.Runtime.CompilerServices
@implements IAsyncDisposable
<h3 id="DemoName">uploadAbort</h3>
<text>url</text>
<input id="url" type="text" @bind="_url"/>
<br/>
<text>chunk size</text>
<input id="chunkSize" type="text" @bind="chunkSize"/>
<br/>
<text>file</text>
<input id="file" type="file" @ref="_fileElement"/>
<br/>
<button id="upload-btn" onclick="@upload">upload</button>
<button id="resume-btn" onclick="@resume">resume</button>
<br/>
<textarea id="output" style="max-width: 100%;" cols="50" rows="20">@_output</textarea>
@code {
    private string _output = "";
    string? _url = "";
    string? chunkSize = "";
    TusUpload? _tusUpload;
    private ElementReference _fileElement;
    bool isFisrt = true;
    bool isFisrtProgress = true;

    public async ValueTask DisposeAsync()
    {
        await _tusUpload.DisposeAsync();
    }

    private async Task upload()
    {
        if (_tusUpload is not null)
        {
            await _tusUpload.Start();
            return;
        }
        var file =  (await TusClient.GetFileInputElement(_fileElement).GetFiles()).First();
        var opt = new TusOptions
        {
            ChunkSize = long.TryParse(chunkSize, out var size) ? size : null,
            Endpoint = new Uri(_url),
            OnProgress = async (bytesend, total) =>
            {
                _output += $"byte Sent : {bytesend} | total : {total}\n";
                if (isFisrtProgress)
                {
                    _output += $"===firstProgress:{bytesend}\n";
                    isFisrtProgress = false;
                }
                if (((double)bytesend / total) > 0.5d )
                {
                    if (isFisrt)
                    {
                        await _tusUpload?.Abort(false);
                        _output += "====Stop\n";
                        isFisrt = false;
                        isFisrtProgress = true;
                    }
                }
                StateHasChanged();
            },
            OnSuccess = async () =>
            {
                _output += "===Upload Success\n";
                StateHasChanged();
                if (_tusUpload is not null)
                {
                    await _tusUpload.DisposeAsync();
                    _tusUpload = null;
                }
            },
            OnError = (err) =>
            {
                _output += $"err : {err.ErrorMessage}\n";
                StateHasChanged();
            },
            Metadata = new Dictionary<string, string>(){{"test", "test"}, {"test2", "test2"}},
        };
        _tusUpload = await TusClient.Upload(file, opt);
        await _tusUpload.Start();
    }

    private async Task resume()
    {
        _output = "";
        StateHasChanged();
        var pres = await _tusUpload.FindPreviousUpload();
        pres.ForEach(x => _output += $"\n{JsonSerializer.Serialize(x.TusPreviousUpload)}\n\n");
        await _tusUpload.ResumeFromPreviousUpload(pres.First());
        await _tusUpload.Start();
    }
}